@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}
.container-form {
  background-color: white;
  margin-top: 40px;
  padding: 30px;
}
h1 {
  color: #06c056;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 900; 
  -webkit-text-stroke: 2px black; 
  text-shadow: none; 
}
.orcamento-info-top {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.orcamento-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.info-box {
  width: 100%;
}
label {
  font-weight: bold;
  font-size: 15px;
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}
/* Tabela de produtos */
.orcamento-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}
.orcamento-table th,
.orcamento-table td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}
.orcamento-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
.orcamento-table td input {
  width: 100%;
  padding: 1px;
  font-size: 18px;
  border: none;
  background: transparent;
  outline: none;
}
/* Botões principais */
button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
.addproduto {
  width: 30px; 
  height: 30px;
  border-radius: 50%; 
  background-color: #28a745; 
  color: #fff; 
  font-size: 18px; 
  border: none; 
  cursor: pointer; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
.add-button:hover {
  background-color: #218838; 
}
#adicionarProduto:hover {
  background-color: #048a43;
}
button[type="submit"] {
  background-color: #06c056;
  color: white;
}
button[type="submit"]:hover {
  background-color: #048a43;
}
button[type="button"] {
  background-color: #d9534f;
  color: white;
}
button[type="button"]:hover {
  background-color: #b52b27;
}