@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  overflow:hidden;
  height: 100%;  
  margin: 0;   
}
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}
.box {
  background-color: #ffffff;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
  width: calc(100% - 40px); 
  height: calc(100% - 40px); 
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  box-sizing: border-box; 
  padding-bottom: 10px; 
}
  h1 {
    position: relative;
    margin-top: 0; 
    margin-bottom: 10px;
    color: #06c056;
    text-align: center; 
    font-weight: 900; 
    font-size: 50px; 
    -webkit-text-stroke: 3px black; 
    text-shadow: none;
}