@charset "UTF-8";
html, body {
  height: 100%;  
  margin: 0;     
  overflow: hidden;  
}
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  overflow:hidden;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  overflow: hidden;
}
.box {
  background-color: #ffffff;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
  width: calc(100% - 40px); 
  height: calc(100% - 40px); 
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  box-sizing: border-box; 
  padding-bottom: 10px; 
}
h1 {
    color: #06c056;
    position: absolute;
    top: 8.5%;
    left: 50%;
    transform: translateX(-50%);  
    font-weight: 900; 
    font-size: 60px; 
    -webkit-text-stroke: 3px black; 
    text-shadow: none; 
  }
/*FORMULÁRIO DE INSERIR GASTOS*/
form {
    background-color: white;
    border: 1px solid #ccc;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 1300px;
    gap: 20px;
}
.form-group {
    display: flex;
    flex-direction: column; 
    width: 30%; /* 3 itens por linha, ajuste como quiser */
    min-width: 200px;
}
form label {
    font-size: 18px;
    margin-bottom: 2px;
    font-weight: bold;
    color: black;
}
form input,
form select,
form textarea {
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-size: 15px;
    width: 100%;
    max-height: 50%;
    height: 42px; /* Ajuste a altura do select */
}
form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    align-self: flex-end;
}
form button:hover {
    background-color: #0056b3;
}
form input:focus,
form select:focus,
form textarea:focus {
    border-color: #007bff;
    outline: none;
}
/*PRODUTOS DAS NOTAS*/
.full-width {
    width: 100%;
}
#tabela-produtos {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#tabela-produtos th, #tabela-produtos td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

#tabela-produtos input {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border: none;
    font-size: 15px;
}
/*BOTÃO DE VER OS GASTOS REGISTRADOS*/
button.visualizar-dados {
    position: absolute;
    bottom: 8%;
    right: 8%;
    background-color: #007bff;  
    color: white;            
    border: none;              
    padding: 10px 20px;        
    border-radius: 4px;        
    cursor: pointer;           
    font-size: 14px;           
    transition: background-color 0.3s ease; 
}

button.visualizar-dados:hover {
    background-color: #0056b3;  
}

button.visualizar-dados:focus {
    outline: none;  
    border-color: #0056b3;  
}