@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  overflow:hidden;
  height: 100%;  
  margin: 0;   
}
.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}
.box {
  background-color: #ffffff;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
  width: calc(100% - 40px); 
  height: calc(100% - 40px); 
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  box-sizing: border-box; 
  padding-bottom: 10px; 
}
h1 {
  margin-top: 2%;
  color: #06c056;
  font-weight: 900;
  font-size: 60px;
  -webkit-text-stroke: 3px black;
  text-shadow: none;
  font-family: Arial, sans-serif;
  opacity: 0;
}
@keyframes slidein-h1 {
  from {
    margin-left: 50%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}
.slidein-h1 {
  animation: slidein-h1 1s ease-out forwards;
}
h2 {
  color: #06c056;
  font-weight: 900;
  font-size: 60px;
  -webkit-text-stroke: 3px black;
  text-shadow: none;
  font-family: Arial, sans-serif;
  opacity: 0;
}
@keyframes slidein-h2 {
  from {
    margin-left: 50%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}
.slidein-h2 {
  animation: slidein-h2 1s ease-out forwards;
}
/*BOTÕES*/
.buttons-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  height: 70%; 
  gap: 20px; 
  margin-top: 30px;
}
.button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 200px; 
}
.button i {
  margin-right: 10px; 
}
.button:hover {
  background-color: #45a049;
  transform: translateY(-5px);
}
.button.error {
  background-color: red;  
  animation: shake 0.5s ease-in-out;  
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}