<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agropecuária Zecão ERP</title>
    <link href="static/css/estoque.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    {% include 'base.html' %}
    <div class="container">
        <div class="box">
            <h1>ESTOQUE</h1>
            <button class="estoque">relatorios</button>
            <div>

            </div>
        </div>
    </div>
</body>
</html>