<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agropecuária Zecão ERP</title>
    <link href="static/css/gastos.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
</head>
<body>
    {% include 'base.html' %}
    <div class="container">
        <div class="box">
            <div>
                <h1>Gastos</h1>
                <button class="visualizar-dados" onclick="mostrarTabela()">Visualizar dados</button>            </div>
            
            <form action="/registrargastos" method="POST">            
                <div class="form-group">
                    <label for="onde">Fornecedor:</label>
                    <select id="onde" name="onde" required>
                        {% for item in fornecedor %}
                            <option value="{{ item.nome }}">{{ item.nome }} - {{ item.cnpj }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <div class="form-group">
                    <label for="documento">Número da nota:</label>
                    <input type="text" id="documento" name="documento" oninput="this.value = this.value.toUpperCase()" required>
                </div>
            
                <div class="form-group">
                    <label for="dia">Data:</label>
                    <input type="date" id="dia" name="dia" required>
                </div>

                <div class="form-group">
                    <label for="placa">Placa:</label>
                    <select id="placa" name="placa" required>
                        {% for placa in placas %}
                            <option value="{{ placa }}">{{ placa }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <div class="form-group">
                    <label for="responsavel">Responsável:</label>
                    <select id="responsavel" name="responsavel" required>
                        {% for resp in responsaveis %}
                            <option value="{{ resp }}">{{ resp }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <div class="form-group">
                    <label for="gasto">Gasto:</label>
                    <select id="gasto" name="gasto" required>
                        <option value="COMBUSTÍVEL">COMBUSTÍVEL</option>
                        <option value="MANUTENÇÃO">MANUTENÇÃO</option>
                        <option value="AQUISIÇÃO">AQUISIÇÃO</option>
                        <option value="LAVAÇÃO">LAVAÇÃO</option>
                        <option value="DOCUMENTAÇÃO">DOCUMENTAÇÃO</option>
                        <option value="MULTA">MULTA</option>
                        <option value="OUTROS">OUTROS</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="km">KM:</label>
                    <input id="km" name="km" placeholder="0000" title="">
                </div>

                <div class="form-group">
                    <label for="desconto">Desconto:</label>
                    <input type="text" id="desconto" name="desconto" placeholder="R$ 00,00">
                </div>

                <div class="form-group">
                    <label for="valor">Valor:</label>
                    <input type="text" id="valor" name="valor" placeholder="R$ 00,00" readonly>
                </div>

                <div class="form-group full-width">
                    <label>Produtos da Nota:</label>
                    <table id="tabela-produtos">
                        <thead>
                            <tr>
                                <th>ID Pro.</th>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th>Valor Unit</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" name="id_pro[]"></td>
                                <td><input type="text" name="produto[]" oninput="this.value = this.value.toUpperCase()"></td>
                                <td><input type="text" name="quantidade[]" class="quantidade" pattern="^\d{1,3}(,\d{1,3})?$" inputmode="decimal" placeholder="0,00"></td>
                                <td><input type="text" name="valor_unit[]" class="valor-unit" placeholder="R$ 00,00" title="Digite apenas o valor e a vírgula."></td>
                                <td><input type="text" name="total[]" class="total" readonly></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="display: flex; gap: 10px; margin-top: 10px;">
                        <div style="display: flex; gap: 10px;">
                            <button type="button" onclick="adicionarLinha()">Nova Linha</button>
                            <button type="button" onclick="removerUltimaLinha()">Remover linha</button>
                        </div>
                        <button type="submit" style="margin-left: auto;">Registrar</button>
                    </div>               
                </div>
            </form>            
        </div>  
        <div id="tabela-dados" style="display: none; margin-top: 30px;">
            <div class="titulo-container">
                <button onclick="voltar()">Voltar</button>

                <select id="filtro-placa" onchange="filtrarPorPlaca()" style="margin-left: 20px;">
                    <option value="">Todas as Placas</option>
                    {% for placa, responsavel in vinculos.items() %}
                        <option value="{{ placa }}">{{ placa }} - {{ responsavel }}</option>
                    {% endfor %}
                </select>

                <h2>Gastos Registrados</h2>
            </div>
            <div class="tabela-container">
                <table class="tabela-gastos">
                    <thead>
                        <tr>
                            <th>Placa</th>
                            <th>Responsável</th>
                            <th>Gasto</th>
                            <th>Fornecedor</th>
                            <th>Doc</th>
                            <th>Data</th>
                            <th>Total</th>
                            <th>KM</th>
                            <th>ID Prod</th>
                            <th>Produto</th>
                            <th>Valor</th>
                            <th>QTD</th>
                            <th>Total Prod</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for linha in dados %}
                        <tr data-placa="{{ linha.placa }}">
                            <td>{{ linha.placa_exibir }}</td>
                            <td>{{ linha.responsavel_exibir }}</td>
                            <td>{{ linha.gasto_exibir }}</td>
                            <td>{{ linha.onde_exibir }}</td>
                            <td>{{ linha.documento_exibir }}</td>
                            <td>{{ linha.dia_exibir }}</td>
                            <td>
                                {% if linha.valor_exibir %}
                                    {{ "R$ {:.2f}".format(linha.valor_exibir|float).replace('.', ',') }}
                                {% else %}
                                    <!-- para nao exibir R$0,00 quando o valor vier vazio-->
                                {% endif %}
                            </td>
                            <td>{{ linha.km_exibir }}</td>
                            <td>{{ linha.id_pro }}</td>
                            <td>{{ linha.produto }}</td>
                            <td>{{ "R$ {:.2f}".format(linha.valor_unit|float).replace('.', ',') }}</td>
                            <td>{{ linha.quantidade }}</td>
                            <td>{{ "R$ {:.2f}".format(linha.total|float).replace('.', ',') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        // filtro
        function filtrarPorPlaca() {
            const filtro = document.getElementById("filtro-placa").value;
            const linhas = document.querySelectorAll(".tabela-gastos tbody tr");

            linhas.forEach(linha => {
                const placa = linha.getAttribute("data-placa");
                if (!filtro || placa === filtro) {
                    linha.style.display = "";
                } else {
                    linha.style.display = "none";
                }
            });
        }
        document.addEventListener('DOMContentLoaded', function () {
            const select = document.getElementById('onde');
            for (const option of select.options) {
                const texto = option.textContent;
                option.setAttribute('data-fulltext', texto); // mantém para busca
                option.textContent = texto.split(' (')[0];   // isso quebra a busca por CNPJ
            }
        });
        // enter passa pro proximo item
        document.addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {
                const formElements = Array.from(document.querySelectorAll('input, select, textarea, button'));
                const index = formElements.indexOf(document.activeElement);
                if (index > -1) {
                    e.preventDefault(); 
                    const next = formElements[index + 1];
                    if (next) {
                        next.focus();
                    }
                }
            }
        });
        // tabela de dados
        function mostrarTabela() {
            const tabela = document.getElementById('tabela-dados');
            const box = document.querySelector('.box');

            box.style.display = 'none';
            tabela.style.display = 'block';
            tabela.scrollIntoView({ behavior: 'smooth' });
        }
        function voltar() {
            const tabela = document.getElementById('tabela-dados');
            const box = document.querySelector('.box');

            tabela.style.display = 'none';
            box.style.display = 'block';
            box.scrollIntoView({ behavior: 'smooth' });
        }


        // Somar total da nota
        function atualizarTotalNota() {
            const totais = document.querySelectorAll('.total');
            let soma = 0;

            totais.forEach(totalInput => {
                const valor = parseFloat(totalInput.value.replace(/[^\d,]/g, '').replace(',', '.')) || 0;
                soma += valor;
            });

            const inputDesconto = document.getElementById('desconto');
            let desconto = 0;

            if (inputDesconto) {
                desconto = parseFloat(inputDesconto.value.replace(/[^\d,]/g, '').replace(',', '.')) || 0;
            }

            const valorFinal = soma - desconto;

            const inputValor = document.getElementById('valor');
            if (inputValor) {
                inputValor.value = valorFinal.toLocaleString('pt-BR', {
                    style: 'currency',
                    currency: 'BRL',
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                });
            }
        }

        // Formatar valores como moeda (reutilizável)
        function formatarComoMoeda(input) {
            input.addEventListener('input', function(e) {
                let valor = e.target.value.replace(/[^0-9,]/g, '');
                const partes = valor.split(',');
                if (partes.length > 2) {
                    valor = partes[0] + ',' + partes.slice(1).join('');
                }
                e.target.value = valor;
            });

            input.addEventListener('blur', function() {
                let valor = input.value.replace(',', '.');
                if (valor) {
                    valor = parseFloat(valor).toLocaleString('pt-BR', { 
                        style: 'currency', 
                        currency: 'BRL',
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                    });
                    input.value = valor;
                }
            });
        }

        // Formatar desconto
        function formatarMoeda(input) {
            input.addEventListener('input', function (e) {
                let valor = e.target.value.replace(/\D/g, '');
                valor = (valor / 100).toFixed(2) + '';
                valor = valor.replace('.', ',');
                valor = 'R$ ' + valor.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
                e.target.value = valor;
            });

            input.dispatchEvent(new Event('input'));
        }

        // Adicionar nova linha à tabela
        function adicionarLinha() {
            const tabela = document.getElementById('tabela-produtos').getElementsByTagName('tbody')[0];
            const novaLinha = tabela.rows[0].cloneNode(true);

            Array.from(novaLinha.querySelectorAll('input')).forEach(input => {
                input.value = '';
            });

            const novoValorUnit = novaLinha.querySelector('.valor-unit');
            formatarComoMoeda(novoValorUnit);

            tabela.appendChild(novaLinha);
        }
        // remover nova linha da tabela
        function removerUltimaLinha() {
            const tabela = document.querySelector("#tabela-produtos tbody");
            const linhas = tabela.querySelectorAll("tr");

            if (linhas.length > 1) {
                tabela.removeChild(linhas[linhas.length - 1]);
            }
        }


        // selects dinamicos
        document.addEventListener('DOMContentLoaded', function () {
            const choicesInstances = {};

            ['#onde', '#placa', '#responsavel'].forEach(selector => {
                const element = document.querySelector(selector);
                if (element) {
                    choicesInstances[selector] = new Choices(element, {
                        searchEnabled: true,
                        itemSelectText: '',
                        placeholder: true,
                        placeholderValue: 'Selecione uma opção',
                        shouldSort: false,
                        position: 'bottom',
                        searchPlaceholderValue: 'Pesquisar...',
                    });
                }
            });

            const vinculos = {{ vinculos | tojson }};
            const placaSelect = document.getElementById('placa');
            const responsavelSelect = document.getElementById('responsavel');
            const placaChoices = choicesInstances['#placa'];
            const responsavelChoices = choicesInstances['#responsavel'];
            const inputDesconto = document.getElementById('desconto');
            const inputValor = document.getElementById('valor');
            const inputKm = document.getElementById('km');

            if (inputDesconto) formatarMoeda(inputDesconto);
            if (inputValor) formatarMoeda(inputValor);
            
            // formatação do valor
            if (inputValor) {
                inputValor.addEventListener('input', function(e) {
                    let valor = e.target.value.replace(/[^0-9,]/g, '');
                    const partes = valor.split(',');
                    if (partes.length > 2) {
                        valor = partes[0] + ',' + partes.slice(1).join('');
                    }
                    e.target.value = valor;
                });

                inputValor.addEventListener('blur', function () {
                    let valor = inputValor.value.replace(',', '.');
                    valor = parseFloat(valor).toLocaleString('pt-BR', {
                        style: 'currency',
                        currency: 'BRL',
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                    });
                    inputValor.value = valor;
                });
            }

            if (inputDesconto) {
                inputDesconto.addEventListener('input', atualizarTotalNota);
            }
            // formatação do km
            if (inputKm) {
                inputKm.addEventListener('blur', function () {
                    let valor = inputKm.value.replace(/\D/g, '');
                    if (valor) {
                        inputKm.value = parseInt(valor).toLocaleString('pt-BR');
                    }
                });
            }

            // Sincroniza os selects placa e responsável
            if (placaSelect) {
                placaSelect.addEventListener('change', () => {
                    const placaSelecionada = placaSelect.value;
                    if (vinculos[placaSelecionada]) {
                        responsavelChoices.setChoiceByValue(vinculos[placaSelecionada]);
                    }
                });
            }

            if (responsavelSelect) {
                responsavelSelect.addEventListener('change', () => {
                    const responsavelSelecionado = responsavelSelect.value;
                    const placaCorrespondente = Object.keys(vinculos).find(placa => vinculos[placa] === responsavelSelecionado);
                    if (placaCorrespondente) {
                        placaChoices.setChoiceByValue(placaCorrespondente);
                    }
                });
            }

            // Formatação e cálculo automático de totais por linha
            document.querySelectorAll('.valor-unit').forEach(input => {
                formatarComoMoeda(input);
            });

            document.addEventListener('input', function (e) {
                if (e.target.classList.contains('valor-unit') || e.target.classList.contains('quantidade')) {
                    const linha = e.target.closest('tr');
                    const valorStr = linha.querySelector('.valor-unit').value.replace(/[^\d,]/g, '').replace(',', '.');
                    const valor = parseFloat(valorStr) || 0;
                    const quantidadeStr = linha.querySelector('.quantidade').value.replace(',', '.');
                    const quantidade = parseFloat(quantidadeStr) || 0;                    
                    const total = (valor * quantidade).toFixed(2).replace('.', ',');
                    linha.querySelector('.total').value = 'R$ ' + total;
                    atualizarTotalNota();
                }
            });
        });
    </script>        
</body>
</html>
