<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerencimanto de Atividades</title>
    <link href="static/css/gerencia.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Nova Atividade</h1>
            <button calss="ver-atividades" onclick="window.location.href='/gerencia2'">Visualizar atividades</button>
            <div>

            </div>
        </div>
        <footer>
            © 2025 Agropecuária Zecão LTDA. Todos os direitos reservados.
        </footer>
    </div>
<button class="button voltar-button" onclick="window.location.href='{{ url_for('home.home') }}'">
    <i class="fas fa-arrow-left"></i> Voltar
</button>
</body>
</html>
