<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Atividades</title>
    <link href="static/css/gerencia2.css" rel="stylesheet" />
</head>
<body>
    <h1>Visualizar Atividades</h1>

    <table>
        <thead>
            <tr>
                <th class="col-placa">Placa</th>
                <th class="col-responsavel">Responsável</th>
                <th class="col-gasto">Gasto</th>
                <th class="col-onde">Fornecedor</th>
                <th class="col-documento">Documento</th>
                <th class="col-data">Data</th>
                <th class="col-valor">Valor</th>
                <th class="col-litros">Litros</th>
                <th class="col-km">KM</th>
                <th class="col-observacao">Observação</th>
            </tr>
        </thead>

    </table>
    
</body>
</html>
