<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agropecária Zecão ERP</title>
    <link href="static/css/gerencia.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    {% include 'base.html' %}
    <div class="container">
        <div class="box">
            <h1>Gerenciamento</h1>
            <div class="buttons-container">

                <button class="btn-principal" data-action="orcamentos">
                    <i class="fas fa-file-alt"></i> Orçamentos
                </button>                

                <button class="btn-principal">
                    <i class="fas fa-boxes"></i> Estoque
                </button>

                <button id="cobrancaBtn" class="btn-principal">
                    <i class="fas fa-file-invoice"></i> Cobranças
                </button>

                <button id="togleform" class="btn-principal">
                    <i class="fas fa-envelope"></i> Mensagem
                </button>
            </div>
            <div class="box" id="orcamentosContent" style="display: none;">
                <h2>Orçamentos</h2>
                <div class="orcamento-info">
                    <div class="orcamento-col">
                        <div class="orcamento-info-item">
                            <strong>Produtor:</strong> João Silva dosSantos Seventino 
                        </div>
                        <div class="orcamento-info-item">
                            <strong>Validade:</strong> 30 dias
                        </div>
                    </div>
                    <div class="orcamento-col2">
                        <div class="orcamento-info-item">
                            <strong>Data:</strong> 25/03/2025
                        </div>
                        <div class="orcamento-info-item">
                            <strong>Total:</strong> R$ 10.500,00
                        </div>
                    </div>
                </div>                         
                
                <table class="orcamento-table">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Qtd</th>
                            <th>Custo</th>
                            <th>Sistema</th>
                            <th>Preço</th>
                            <th>Custo Total</th>
                            <th>Valor Total</th>
                            <th>Lucro</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ração Bovina</td>
                            <td>105</td>
                            <td>R$ 50,00</td>
                            <td>R$ 60,00</td>
                            <td>R$ 65,00</td>
                            <td>R$ 500,00</td>
                            <td>R$ 650,00</td>
                            <td>R$ 15000,00</td>
                        </tr>
                        <tr>
                            <td>Fertilizante NPK</td>
                            <td>5</td>
                            <td>R$ 80,00</td>
                            <td>R$ 90,00</td>
                            <td>R$ 95,00</td>
                            <td>R$ 400,00</td>
                            <td>R$ 475,00</td>
                            <td>R$ 75,00</td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn-voltar" id="voltarBtn">Voltar</button>
                <a href="{{ url_for('addorcamento.add_orcamento') }}" class="btn-addorcamento">
                    <i class="fas fa-plus"></i> Novo Orçamento
                </a>
                             
            </div>
            

            <div id="cobrancamodal" class="modal">
                <div class="modal_conteudo">
                    <span id="fecharmodal" class="fechar">&times;</span>
                    <h2>Cobranças do Dia</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Observação</th>
                                <th>Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- As linhas dos atendimentos serão inseridas dinamicamente aqui -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="togleForm" style="display: none;">
                <form id="formTogle" method="POST" action="/add_notificacao">
                    <span id="fechartogle" class="fechar">&times;</span>
                    <label for="usuario">Usuario:</label>
                    <select id="usuario" name="usuario">
                        {% for usuario in usuarios %}
                            <option value="{{ usuario }}">{{ usuario }}</option>]
                        {% endfor %}
                    </select>

                    <label for="anotacao">Mensagem</label>
                    <textarea id="anotacao" name="anotacao" required></textarea>

                    <button type="submit" class="btn-enviar">Enviar</button>
                </form>
            </div>

        </div>
    </div>
    <script>
        const modal = document.getElementById("cobrancamodal");
        const btnAbrir = document.getElementById("cobrancaBtn");
        const btnFechar = document.getElementById("fecharmodal");

        btnAbrir.onclick = async function() {
            if (modal.style.display === "block") {
                modal.style.display = "none"; // Fecha o modal se já estiver aberto
                return;
            }

            try {
                const response = await fetch('/cobrancas');
                const data = await response.json();
                if (response.ok) {
                    const tbody = document.querySelector("#cobrancamodal .modal_conteudo table tbody");
                    tbody.innerHTML = '';  // Limpar o conteúdo atual da tabela
                    data.atendimentos.forEach(atendimento => {
                        const tr = document.createElement('tr');
                        tr.innerHTML = `
                            <td>${atendimento[0]}</td>
                            <td>${atendimento[1]}</td>
                            <td>${atendimento[2]}</td>
                        `;
                        tbody.appendChild(tr);
                    });
                    modal.style.display = "block";  // Mostrar o modal
                } else {
                    console.error("Erro ao buscar cobranças.");
                }
            } catch (error) {
                console.error("Erro ao fazer requisição AJAX:", error);
            }
        };

        // Fechar ao clicar no botão de fechar
        btnFechar.onclick = function() {
            modal.style.display = "none";
        };

        // Fechar ao clicar fora do modal
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };

        const btnTogle = document.getElementById("togleform");
        const formTogle = document.getElementById("togleForm");
        const btnFecharTogle = document.getElementById("fechartogle");

        btnTogle.onclick = function() {
            if (formTogle.style.display === "none" || formTogle.style.display === "") {
                formTogle.style.display = "block"; 
            } else {
                formTogle.style.display = "none";  
            }
        };

        btnFecharTogle.onclick = function() {
            formTogle.style.display = "none";
        };

        /*orçamentos*/
        document.addEventListener("DOMContentLoaded", function() {
            const btnOrcamentos = document.querySelector('.btn-principal[data-action="orcamentos"]');
            const orcamentosContent = document.querySelector('#orcamentosContent');
            const btnVoltar = document.querySelector('#voltarBtn');
            const gerenciamentoTitle = document.querySelector('h1'); // Seleciona o título "Gerenciamento"

            // Exibir a seção de orçamentos
            if (btnOrcamentos) {
                btnOrcamentos.addEventListener("click", function() {
                    orcamentosContent.style.display = 'block';  // Exibe a seção de orçamentos
                    document.querySelector('.buttons-container').style.display = 'none'; // Oculta os outros botões
                    gerenciamentoTitle.style.display = 'none'; // Esconde o título "Gerenciamento"
                });
            }

            // Voltar para a tela inicial
            if (btnVoltar) {
                btnVoltar.addEventListener("click", function() {
                    orcamentosContent.style.display = 'none';  // Esconde a seção de orçamentos
                    document.querySelector('.buttons-container').style.display = 'flex'; // Exibe os outros botões
                    gerenciamentoTitle.style.display = 'block'; // Reexibe o título "Gerenciamento"
                });
            }
        });

    </script>
</body>
</html>
