<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agropecuária Zecão ERP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EBEWZCCVS6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-EBEWZCCVS6');
    </script>
</head>
<body>
    {% include 'base.html' %}
    <div class="container">
        <div class="box">
            <h1 id="titulo-h1">Bem Vindo(a)!</h1>      
            <h2 id="titulo-h2">{{ session['nomeclatura'] }}</h2>             
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const tituloH1 = document.getElementById("titulo-h1");
            const tituloH2 = document.getElementById("titulo-h2");

            if (sessionStorage.getItem("loginEfetuado") === null) {
                sessionStorage.setItem("loginEfetuado", "true");

                tituloH1.classList.add("slidein-h1");

                setTimeout(function () {
                    tituloH2.classList.add("slidein-h2");
                }, 1000);
            } else {

                tituloH1.style.opacity = "1";
                tituloH2.style.opacity = "1";

                tituloH1.style.transform = "translateX(0%)";
                tituloH2.style.transform = "translateX(0%)";
            }
        });
    </script>
</body>
</html>