<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agropecuária Zecão ERP</title>
    <link href="static/css/home.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    {% include 'base.html' %}
    <div class="container">
        <div class="box">
            <h1 id="titulo">Bem Vindo(a) {{ session['nomeclatura'] }}!</h1>       
        </div>
    </div>
    <script>
        /*Animação de entrada do título*/
        document.addEventListener("DOMContentLoaded", function () {
            const titulo = document.getElementById("titulo");

            if (sessionStorage.getItem("loginEfetuado") === null) {
                titulo.classList.add("slidein");
                sessionStorage.setItem("loginEfetuado", "true"); // Marca que o login foi feito
            } else {
                titulo.style.opacity = "1"; // Garante que o título fique visível após reload
            }
        });
    </script>
</body>
</html>