<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agropecuária Zecão ERP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>AGROZECÃO</h1>
            <h2>Login</h2>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li style="color:red;">{{ message }}</li>
                         {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            
            <form action="/login" id="login" method="post">
                <input type="text" name="username" id="username" placeholder="Nome de usuário" required>
                <input type="password" name="password" id="password" placeholder="Senha" required>
                <label><input type="checkbox" name="remember_me"> Lembrar de mim</label>
                <button type="submit">ENTRAR</button>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const messages = [
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% for category, message in messages %}
                        {category: "{{ category }}", message: "{{ message }}"},
                    {% endfor %}
                {% endwith %}
            ];

            if (messages.some(m => m.category === "error")) {
                const inputs = document.querySelectorAll('#login input, #login_button');
                inputs.forEach(input => {
                    input.disabled = true;
                    input.style.userSelect = 'none';
                });
            }
        });
    </script>
</body>
</html>